# Ignorar a pasta do ambiente virtual (com o ponto na frente)
.venv/

# Ignorar arquivos de compilação do Python
__pycache__/
*.pyc

# Ignorar a sua chave de segurança (para não vazar)
api_key.txt

# Ignorar arquivos de configuração do VS Code (opcional)
.vscode/